<app-cabezera-estado></app-cabezera-estado>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Estado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estado of estados">
      <td>{{estado.estado_id}}</td>
      <td>{{estado.estado}}</td>
      <td>
        <a class = "btn btn-primary btn-sm" routerLink="/estadosEdit/{{estado.estado_id}}">Ver/Editar</a>
        <a class = "btn btn-primary btn-sm btn-danger" (click)="delete(estado.estado_id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>